body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background-image: url(/static/loading.gif);
}



.header {
    margin-left: 73px;
}
input[name=search] {
    height: 73px;
    width: 100%;
    font-size: 35pt;
}
::-webkit-input-placeholder {
    font-family: 'lato', 'helvetica neue', Helvetica, sans-serif;
}
:-moz-placeholder {
    font-family: 'lato', 'helvetica neue', Helvetica, sans-serif;
}
::-moz-placeholder {
    font-family: 'lato', 'helvetica neue', Helvetica, sans-serif;
}
:-ms-input-placeholder {
    font-family: 'lato', 'helvetica neue', Helvetica, sans-serif;
}
#menu {
    display: none;
    list-style-type:none;
    margin:0;
    padding:0;
}
#menu li a {
    display: block;
    text-decoration: none;
    font-size: 35pt;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}
.show-menu {
    float: left;
    width: 73px;
    margin-left: -73px;
}




.people {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.people li {
    margin-bottom: 10px;
    vertical-align: top;
}
.people li.closer {
    margin-bottom: 0px;
}
.close_icon {
    display: none;
    background: url(/static/close-73x73.png) no-repeat left top;
    padding-left: 83px;
    width: 100%;
    height: 73px;
    line-height: 50pt;
    font-size: 25pt;
}
.closer * {
    display: none;
}
.short_profile {
    width: 100%;
    display: inline-block;
    cursor: zoom-in;
}
.short_profile .small_pic {
    float: left;
    height: 73px;
    width: 73px;
    margin-right: 5px;
}
.short_profile .large_pic {
    display: none;
}
.short_profile .name {
    font-size: 17pt;
    height: 54px;
    overflow: hidden;
}
.short_profile .username {
    font-size: 13pt;
}
.short_profile .bio {
    display: none;
}
.short_profile .location {
    display: none;
}
.long_profile {
    display: block;
    width: 100%;
    min-height: 200px;
    float: left;
}
.long_profile .small_pic {
    display: none;
}
.long_profile .large_pic {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}
.long_profile .name {
    font-size: 25pt;
    height: auto;
}
.long_profile .username {
    font-size: 16pt;
    margin-top: 5px;
}
.long_profile .bio {
    font-size: 13pt;
    margin-top: 25px;
}
.long_profile .location {
    font-size: 13pt;
    margin-top: 5px;
}
a {
    color: #555555;
}
@media all and (min-width: 450px){
    .show-menu {
        display: none;
    }
    #menu {
        display: inline-block;
        float: right;
    }
    #menu li {
        display: inline-block;
    }
    #menu li a {
        font-size: 15pt;
        padding: 0 3px;
        line-height: 73px;
    }
    .header {
        margin-left: 0px;
    }

    .short_profile { width: 50%; }
    input[name=search] {width: 50%;}
    .long_profile .large_pic {
        height: 200px;
        width: 200px;
        float: left;
        margin-right: 10px;
    }
    .closer {
        margin-bottom: 10px;
    }
    .closer .close_icon {
        display: block;
    }
}
@media screen and (min-width : 500px){
    #menu li a {
        font-size: 16.5pt;
        padding: 0 5px;
    }
}
@media screen and (min-width : 600px){
    #menu li a {
        font-size: 20pt;
    }
}
@media all and (min-width: 800px){
    .short_profile { width: 33%; }
    input[name=search] {width: 33%;}
}
@media all and (min-width: 1000px){
    .short_profile { width: 25%; }
    input[name=search] {width: 25%;}
}
@media all and (min-width: 1150px){
    body { width: 1150px; }
}

.hidden {
    display: none !important;
}
